#!/bin/bash
#===============================================================================
#/**
# * LaTeX thesis template (build config)
# * @author  : Alexander willner (willner@cs.uni-bonn.de)
# */
#===============================================================================
DEBUG=0;               # 0 = output to log, 1 = show output
DOINDEX=1;             # 0 = no index, 1 = create index
DOBIBTEX=1;            # 0 = do not call BibTeX, 1 = call BibTeX
DOSPELLCHECK=0;        # 0 = no spell check, 1 =  spell check
LANG="en";             # e.g. en, de, ...
LANGEXT="en_US.UTF-8"  # e.g., en_US.UTF-8, de_DE.UTF-8, ...
DIR_TMP="tmp";
DIR_SRC="src";
DIR_RES="resources";
DIR_IMG="$DIR_RES/images";
DIR_LYT="$DIR_RES/layout";
DIR_ANA="$DIR_RES/analyzer";
DIR_SCR="$DIR_RES/scripts";
DIR_BLD="lib/resources/build";
REQ_DIRS="$DIR_TMP $DIR_DEST $DIR_SRC $DIR_RES $DIR_TMP $DIR_IMG $DIR_TMP/$DIR_SRC";
REQ_APPLICATIONS="pdflatex aspell perl epstopdf gnuplot Rscript pdfopt";
MAX_ABSTRACT="350";
MIN_ABSTRACT="150";
FILE_ABSTRACT="$DIR_SRC/abstract.tex";
FILE_INTRO="$DIR_SRC/introduction.tex";
FILE_CONFIG="template.config.tex";
FILE_MAIN="template.tex";
FILE_BIB="template.bib";
